<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sign Up</title>
		<link rel="stylesheet" href="/reset.css" />
		<link rel="stylesheet" href="/sign-up-form.css" />
	</head>
	<body>
		<%- include('../partials/nav')%>

		<div class="container">
			<h1>Sign Up</h1>
			<%- include("../partials/errors.ejs") %>
			<form action="/auth/sign-up" method="POST">
				<div>
					<label for="firstName">First Name</label>
					<input
						id="firstName"
						name="firstName"
						type="text"
					/>
				</div>
				<div>
					<label for="lastName">Last Name</label>
					<input
						id="lastName"
						name="lastName"
						type="text"
					/>
				</div>
				<div>
					<label for="username">Username</label>
					<input
						id="username"
						name="username"
						type="text"
					/>
				</div>
				<div>
					<label for="password">Password</label>
					<input
						id="password"
						name="password"
						type="password"
					/>
				</div>
				<div>
					<label for="passwordConfirm"
						>Confirm Password</label
					>
					<input
						id="passwordConfirm"
						name="passwordConfirm"
						type="password"
					/>
				</div>

				<label for="isAdmin">
					Admin
					<input
						type="checkbox"
						name="isAdmin"
						id="isAdmin"
						value="true"
				/></label>
				<button type="submit">Sign Up</button>
			</form>
		</div>

	</body>
</html>
