<div>
    <% if (locals.currentUser) {%>
    <h5>Hello, <%= locals.currentUser.username %>!</h5>
  <% }%>
    <a href="/">Home</a>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/log-in">Log in</a>
    <a href="/auth/log-out">Log out</a>
</div>